In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder

In [2]:
# Leemos el csv y lo cargamos en un dataset
data = pd.read_csv('AB_NYC_2019.csv',sep=',')

In [3]:
# Lo mostramos
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,week_price,PETS Allowed,swimming pool
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,1043,pets allowed,0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,1575,yes,0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365,1050,no,0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,623,no,0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,560,no,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9,490,never,0
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36,280,pets allowed,0
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27,805,pets allowed,1
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2,385,yes,0
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23,630,no,0

In [4]:
# Seleccionamos unicamente los datos a partir de los cuales podemos sacar informacion
data = data[['neighbourhood_group','neighbourhood','room_type','price','minimum_nights','number_of_reviews','reviews_per_month','calculated_host_listings_count','availability_365','week_price','PETS Allowed','swimming pool']]

In [5]:
# Vemos el numero de campos nulos
print("Datos totales:",len(data),'\n')
print("Datos nulos por columna:")
print(data.isnull().sum(),'\n')
print("El numero de datos nulos supera el 25%?:")
print(data.isnull().sum()>=len(data)*0.25)

# Podemos comprobar que en ninguna de las columnas tenemos mas del 25% de
# los datos nulos, con lo que no es recomendable borrar las columnas que tenga datos nulo.

Datos totales: 48895

Datos nulos por columna:
neighbourhood_group                   0
neighbourhood                         0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
week_price                            0
PETS Allowed                          0
swimming pool                         0
dtype: int64

El numero de datos nulos supera el 25%?:
neighbourhood_group               False
neighbourhood                     False
room_type                         False
price                             False
minimum_nights                    False
number_of_reviews                 False
reviews_per_month                 False
calculated_host_listings_count    False
availability_365                  False
week_price                        False
PETS Allowed                      False
swimming pool                     False
dtype: bool

In [6]:
# Vamos a optar por rellenar los datos nulos con la media del resto de valores
reviews_month_mean = round(data['reviews_per_month'].mean(),2)

data['reviews_per_month'] = data['reviews_per_month'].fillna(reviews_month_mean)

data

C:\Users\danie.LAPTOP-CLQ1QH4Q\AppData\Local\Temp\ipykernel_17580\2140594564.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews_per_month'] = data['reviews_per_month'].fillna(reviews_month_mean)

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,week_price,PETS Allowed,swimming pool
0,Brooklyn,Kensington,Private room,149,1,9,0.21,6,365,1043,pets allowed,0
1,Manhattan,Midtown,Entire home/apt,225,1,45,0.38,2,355,1575,yes,0
2,Manhattan,Harlem,Private room,150,3,0,1.37,1,365,1050,no,0
3,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,4.64,1,194,623,no,0
4,Manhattan,East Harlem,Entire home/apt,80,10,9,0.10,1,0,560,no,1
...,...,...,...,...,...,...,...,...,...,...,...,...
48890,Brooklyn,Bedford-Stuyvesant,Private room,70,2,0,1.37,2,9,490,never,0
48891,Brooklyn,Bushwick,Private room,40,4,0,1.37,2,36,280,pets allowed,0
48892,Manhattan,Harlem,Entire home/apt,115,10,0,1.37,1,27,805,pets allowed,1
48893,Manhattan,Hell's Kitchen,Shared room,55,1,0,1.37,6,2,385,yes,0
48894,Manhattan,Hell's Kitchen,Private room,90,7,0,1.37,1,23,630,no,0

In [7]:
le = LabelEncoder()

# Definimos un metodo que va a resumir los posibles valores de la columna de mascotas en si o no
def pets_allowed(value):
    if value in ['pets allowed', 'yes', 'we love pets']:
        return True
    else:
        return False

# Le aplicamos dicho metodo a cada fila de la columna
data['PETS Allowed'] = data['PETS Allowed'].apply(pets_allowed)

# Le hacemos un fit transform a las columnas con mas de un posible valor
data['neighbourhood_coded'] = le.fit_transform(data['neighbourhood'])
data['neighbourhood_group_coded'] = le.fit_transform(data['neighbourhood_group'])
data['room_type_coded'] = le.fit_transform(data['room_type'])

# Mostramos los datos transformados
data

C:\Users\danie.LAPTOP-CLQ1QH4Q\AppData\Local\Temp\ipykernel_17580\2205951928.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['PETS Allowed'] = data['PETS Allowed'].apply(pets_allowed)
C:\Users\danie.LAPTOP-CLQ1QH4Q\AppData\Local\Temp\ipykernel_17580\2205951928.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['neighbourhood_coded'] = le.fit_transform(data['neighbourhood'])
C:\Users\danie.LAPTOP-CLQ1QH4Q\AppData\Local\Temp\ipykernel_17580\2205951928.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['neighbourhood_group_coded'] = le.fit_transform(data['neighbourhood_group'])
C:\Users\danie.LAPTOP-CLQ1QH4Q\AppData\Local\Temp\ipykernel_17580\2205951928.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['room_type_coded'] = le.fit_transform(data['room_type'])

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,week_price,PETS Allowed,swimming pool,neighbourhood_coded,neighbourhood_group_coded,room_type_coded
0,Brooklyn,Kensington,Private room,149,1,9,0.21,6,365,1043,True,0,108,1,1
1,Manhattan,Midtown,Entire home/apt,225,1,45,0.38,2,355,1575,True,0,127,2,0
2,Manhattan,Harlem,Private room,150,3,0,1.37,1,365,1050,False,0,94,2,1
3,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,4.64,1,194,623,False,0,41,1,0
4,Manhattan,East Harlem,Entire home/apt,80,10,9,0.10,1,0,560,False,1,61,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,Brooklyn,Bedford-Stuyvesant,Private room,70,2,0,1.37,2,9,490,False,0,13,1,1
48891,Brooklyn,Bushwick,Private room,40,4,0,1.37,2,36,280,True,0,28,1,1
48892,Manhattan,Harlem,Entire home/apt,115,10,0,1.37,1,27,805,True,1,94,2,0
48893,Manhattan,Hell's Kitchen,Shared room,55,1,0,1.37,6,2,385,True,0,95,2,2
48894,Manhattan,Hell's Kitchen,Private room,90,7,0,1.37,1,23,630,False,0,95,2,1

In [8]:
# Vemos que hay campos que no son numeros asi que hay que convertirlos
data.info()

# Convertimos los campos a numericos. Los errores se cambian por Nan
data['week_price'] = pd.to_numeric(data['week_price'], errors='coerce')
data['swimming pool'] = pd.to_numeric(data['swimming pool'], errors='coerce')
data['price'] = pd.to_numeric(data['price'], errors='coerce')

# Eliminamos las filas con NaN
data = data.dropna(subset=['week_price'])
data = data.dropna(subset=['swimming pool'])
data = data.dropna(subset=['price'])

# Convertir el tipo de datos a numericos
data['week_price'] = data['week_price'].astype(int)
data['swimming pool'] = data['swimming pool'].astype(bool)
data['price'] = data['price'].astype(float)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   neighbourhood_group             48895 non-null  object
 1   neighbourhood                   48895 non-null  object
 2   room_type                       48895 non-null  object
 3   price                           48895 non-null  object
 4   minimum_nights                  48895 non-null  int64
 5   number_of_reviews               48895 non-null  int64
 6   reviews_per_month               48895 non-null  float64
 7   calculated_host_listings_count  48895 non-null  int64
 8   availability_365                48895 non-null  int64
 9   week_price                      48895 non-null  object
 10  PETS Allowed                    48895 non-null  bool
 11  swimming pool                   48895 non-null  object
 12  neighbourhood_coded             48895 non-null  int32
 13  neighbourhood_group_coded       48895 non-null  int32
 14  room_type_coded                 48895 non-null  int32
dtypes: bool(1), float64(1), int32(3), int64(4), object(6)
memory usage: 4.7+ MB

C:\Users\danie.LAPTOP-CLQ1QH4Q\AppData\Local\Temp\ipykernel_17580\964213390.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['week_price'] = pd.to_numeric(data['week_price'], errors='coerce')

<class 'pandas.core.frame.DataFrame'>
Index: 45550 entries, 0 to 48894
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   neighbourhood_group             45550 non-null  object
 1   neighbourhood                   45550 non-null  object
 2   room_type                       45550 non-null  object
 3   price                           45550 non-null  float64
 4   minimum_nights                  45550 non-null  int64
 5   number_of_reviews               45550 non-null  int64
 6   reviews_per_month               45550 non-null  float64
 7   calculated_host_listings_count  45550 non-null  int64
 8   availability_365                45550 non-null  int64
 9   week_price                      45550 non-null  int32
 10  PETS Allowed                    45550 non-null  bool
 11  swimming pool                   45550 non-null  bool
 12  neighbourhood_coded             45550 non-null  int32
 13  neighbourhood_group_coded       45550 non-null  int32
 14  room_type_coded                 45550 non-null  int32
dtypes: bool(2), float64(2), int32(4), int64(4), object(3)
memory usage: 4.3+ MB

C:\Users\danie.LAPTOP-CLQ1QH4Q\AppData\Local\Temp\ipykernel_17580\964213390.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['swimming pool'] = pd.to_numeric(data['swimming pool'], errors='coerce')
C:\Users\danie.LAPTOP-CLQ1QH4Q\AppData\Local\Temp\ipykernel_17580\964213390.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['price'] = pd.to_numeric(data['price'], errors='coerce')

In [11]:
# Seleccionamos las columnas que hemos preparado, con las que entrenariamos nuestro modelo
X = data[['neighbourhood_group_coded','neighbourhood_coded','room_type_coded','price','minimum_nights','number_of_reviews','reviews_per_month','calculated_host_listings_count','availability_365','week_price','PETS Allowed','swimming pool']].values

# Mostramos el dataset listo
X

array([[1, 108, 1, ..., 1043, True, False],
       [2, 127, 0, ..., 1575, True, False],
       [2, 94, 1, ..., 1050, False, False],
       ...,
       [2, 94, 0, ..., 805, True, True],
       [2, 95, 2, ..., 385, True, False],
       [2, 95, 1, ..., 630, False, False]], dtype=object)